.inputHalf{
  
}

.outputHalf {
  border: 1px solid black;
}

.outputHolder {

}

.listBorder{
  border: 1px solid red;
}

.markItemDone {
  text-decoration: line-through;
}

.hover-class{
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.input-center{
  display: flex;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 15px;
}
