.inputHalf{

}

.outputHalf {
  border: 1px solid black;
  border-radius: 5px;
}

.outputHolder {

}

.listBorder{
  border: 1px solid red;
}

.markItemDone {
  text-decoration: line-through;
}

.hover-class{
  color: red;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.input-center{
  display: flex;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 15px;
}

.center-theme-button{
  display: flex;
  justify-content: center;
  align-content: center;
}

.default-theme{
  background-color: yellow;
}

.halloween-theme{
  background-color: orange;
}

.usa-theme{
  background-color: red;
}

.money-theme{
  background-color: green;
}

.theme-menu{
  cursor: pointer;
}

.hover-theme{
  background-color: black;
  color: white;
  font-size: 20px;
}

.api-styles{
  display: flex;
  justify-content: center;
}

.api-img{
  margin: 10px;
  border: 3px solid red;
  border-radius: 5px;
}

.api-holder{
  border: 2px solid green;
  margin: 20px;
  border-radius: 5px;
}

.space-api{
  margin-top: 50px;
}

.theme-button-bg{
  background-color: white;
  border-radius: 5px;
}
